#review-form {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.heading {
    text-align: center;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#project-info {
    text-align: left;
    margin-right: 80px;
}

#download {
    border: 1.5px solid #5a5a5a;
    border-radius: 5px;
    padding: 10px;
    background-color:#ffde71
}

#download:hover {
    background-color:#ffb71e
}

h4 {
    margin-bottom: -13px;
}

.review-form-title {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    margin-top: 25px;
    margin-bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0efee;
    border: 3px solid #5a5a5a;
}

form {
    margin-bottom: 50px;
    background-color: #f0efee;

}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}


th {
    border: 3px solid #5a5a5a;
    padding: 8px;
    font-size: 16px;
}

td {
    border: 2px solid #5a5a5a;
    padding: 8px;
    text-align: left;
}

.radio-td {
    width: 8px;
}

#points {
    font-weight: bold;
}

#first {
    background-color: rgb(92, 180, 97);
}

#second {
    background-color: rgb(163, 226, 163);
}

#third {
    background-color: rgb(255, 228, 90);
}

#second-to-last {
    background-color: rgb(253, 253, 196)
}

#last {
    background-color: rgb(226, 163, 163)
}

#white {
    background-color: white;
}

label {
    margin-right: 25px;
    margin-left: -8px;
}

ul {
    margin-left: 30px;
}

textarea {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px;
    border: 3px solid #5a5a5a;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.score {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1.5px solid #5a5a5a;
    margin-left: 15px;
}

#save-button {
    border-radius: 10%;
    background-color: #ffffff;
    color: #5b0013;
    padding: 12px;
    border: 1px solid #5b0013;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#submit-button {
    background-color: #ffde71;
    border-radius: 10%;
    color: #5b0013;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}

#save-button:hover, #submit-button:hover {
    background-color: #ffb71e;
}

#responsive-dialog-button {
    color: #5b0013;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #5b0013;
    padding: 8px;
    cursor: pointer;
    margin-left: 15px;
}

#responsive-dialog-button2 {
    color: #5b0013;
    background-color: #ffde71;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    margin-left: 15px;
}

#responsive-dialog-button:hover,#responsive-dialog-button2:hover {
    background-color: #ffb71e;
}