

.nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color:  #7A0019;
  color: #FFCC33;
  padding: 1rem;
}

.menuContainer {
  display: flex;
  margin: 0;
  padding: 0;
}

.navMenu {
  margin-left: 10px;
}


.nav-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFCC33;
}

.nav-title:hover {
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  color: #FFCC33;
  margin: 0 1rem;
  font-size: 1rem;
}

.navLink:hover {
  text-decoration: underline;
}